.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  padding:  0px 24px 16px;
}

.footer ul {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer ul li {
  max-width: 600px;
  margin: 0 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 400;
}

.footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.footer p {
  font-size: 12px;
  max-width: 600px;
  margin: auto ;
  text-align: center; 
  color: rgba(255, 255, 255, 0.8);
  line-height: 20px;
}
.footer p a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.1px solid whitesmoke;
}
